body {
    font-family: Arial, sans-serif; /* 폰트 설정 */
    background-color: #f5f5f5; /* 배경색 */
    padding: 20px; /* 외부 여백 */
}

.container {
    max-width: 100%; /* 반응형으로 변경 */
    width: 100%; /* 전체 너비 */
    max-width: 600px;  /* 최대 너비 제한 */
    margin: 0 auto; /* 가운데 정렬 */
    background-color: #fff; /* 배경색 */
    padding: 20px; /* 내부 여백 */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* 그림자 효과 */
}

h1 {
    text-align: center; /* 가운데 정렬 */
    font-size: 2em; /* 폰트 크기를 반응형으로 설정 */
}

form {
    display: flex; /* 가로로 정렬 */
    flex-direction: column; /* 세로로 정렬 */
}

label {
    margin-bottom: 10px; /* 아래쪽 간격 */
    font-size: 1em; /* 폰트 크기를 반응형으로 설정 */
}

input, button {
    padding: 10px; /* 내부 여백 */
    margin-bottom: 20px; /* 아래쪽 간격 */
    font-size: 1em; /* 폰트 크기를 반응형으로 설정 */
}

button {
    background-color: #007bff; /* 배경색 */
    color: #fff; /* 글자색 */
    border: none; /* 테두리 제거 */
    cursor: pointer; /* 커서 모양 변경 */
}

button:hover {
    background-color: #0056b3; /* 마우스 오버 시 배경색 변경 */
}

.result {
    margin-top: 20px;  /* 위쪽 간격 */
    padding: 20px; /* 내부 여백 */
    background-color: #e9ecef; /* 배경색 */
}

.center{
    display: flex; /* 가운데 정렬 */
    justify-content: center; /* 가운데 정렬 */
    align-items: center; /* 가운데 정렬 */
    height: 100vh; /* 전체 화면 높이 */
}

/* 미디어 쿼리: 화면이 600px 이하일 때 적용 */
@media (max-width: 600px) {
    .container {
        padding: 10px; /* 패딩을 줄임 */
    }

    h1 {
        font-size: 1.5em; /* 폰트 크기를 줄임 */
    }

    label {
        font-size: 0.9em; /* 폰트 크기를 줄임 */
    }

    input, button {
        padding: 8px; /* 패딩을 줄임 */
        margin-bottom: 15px; /* 여백을 줄임 */
        font-size: 0.9em; /* 폰트 크기를 줄임 */
    }

    .result {
        padding: 15px; /* 패딩을 줄임 */
    }
}

